<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/src/style.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()


    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

